#axis {
    display: flex;
    align-items: flex-end;
    width: 60%;
    height: 60vh;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .bar {
      width: inherit;
      margin-right: 2px;
      background-color: greenyellow;
      &:last-child {
        margin-right: 0;
      }
    }
  }